@import "tailwindcss";

@theme {
  --color-light-yellow: #ffe25b;
  --color-banner-green: #000e0d;
  --color-para: #f2f2ee;
  --color-para-dark: #929086;
  --color-nav-ele: #5d9060;
  --color-bannepoint: #f9f8f5;
  --color-heading: #231f0c;
  --color-heading-c1:#231f0c;
  --color-heading-c2:#7e6b12;
  --color-topbrocker-head:#22211c;
  --color-topbrocker-body:#615f56;

}

body {
  overflow-x: hidden !important;
}

@layer utilites {
  .container {
    @apply mx-auto px-4 md:px-20
  }
  


}

  .swiper-pagination-bullet {
    transition: all .5s;
  }

  /* Active bullet style */
  .swiper-pagination-bullet-active {
    width: 20px !important;
    background-color: #ffe25b !important;
    border-radius: 5px !important;
  }


@keyframes slide {

  0%,
  20% {
    transform: translateY(0px);
  }

  30%,
  50% {
    transform: translateY(-45px);
  }

  60%,
  80% {
    transform: translateY(-90px);
  }

  90%,
  100% {
    transform: translateY(0px);
  }
}

.animate-slide {
  animation: slide 6s ease-in-out infinite;
}




@keyframes phonebannerslide {

  0%,
  20% {
    transform: translateY(-5px);
  }

  30%,
  50% {
    transform: translateY(-45px);
  }

  60%,
  80% {
    transform: translateY(-80px);
  }

  90%,
  100% {
    transform: translateY(-5px);
  }
}

@media (max-width:767.98px) {
  .animate-slide {
    animation: phonebannerslide 9s ease-in-out infinite;
  }
}

.tradingview-widget-container__widget {
  min-width: 100%;
  height: 600px;
  /* adjust height as needed */
}